.wdat/
obj/
.obj/

_out/
*.glsl.h
*.cfg

.vs/
*.pdb

old/
winapi/

FileNod.h
Nod.h
Xternal.h
imgui_draw.h
jit_nod.h

dcomp2.h

*.DS_Store
*.def

*.c
*.cpp
*.m
*.o

*.a
*.dll
*.bc
*.so

*.ini
*.d
*.sm
.sm/
*.sh
